.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    padding: 42px;

    .danger {
      color: red;
    }

    form, input {
      margin-bottom: 16px;
    }

    button, a {
      width: 100%;
    }
  }
}
